<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>商品カート</title>
</head>
<body>
    <h1>商品カート</h1>
    <% let priceSum = 0;%>
    <% carts.map((cart)=>{ %>
        <% for(let i = 0;i < items.length;i++){ %>
            <% if(cart.item_id === items[i].id){ %>
                <p><%=items[i].name%></p>
                <p><%=cart.item_count%>こ</p>
                <p><%= items[i].price * cart.item_count %>円</p>
                <form action="/carts/<%= cart.id %>" method="POST">
                    <input type="hidden" name="_method" value="delete">
                    <input type="submit" value="カートから削除">
                </form>
                <form action="/carts/<%= cart.item_id %>" method="GET">
                    <input type="submit" value="注文情報を編集">
                </form>
                <% priceSum +=  items[i].price * cart.item_count%>
            <% }; %>
        <% }; %>
    <% }); %>
    <p>合計：<%= priceSum %>円</p>
    <a href="">注文確定</a>
    </br>
    <a href="/products">買い物を続ける</a>
</body>
</html>